@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in-sm {
    animation: fadeInSm 0.2s ease-in-out;
  }

  @keyframes fadeInSm {
    from {
      opacity: 0;
      transform: translateY(-4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}